{% extends 'mainadmin.html' %}

{% block mainsec %}


    
            <table class="table moveup" style="color:white;margin-left: 50px;">
                <h2 style="margin-top: 100px;">STUDIO DETAILS</h2>
                <tr>
                    <th>Serial No</th>
                    <th>Studio Name</th>
                    <th>Place</th>
                    <th>phone</th>
                    <th>Email</th>
                    <th>Since</th>
                    <th>License</th>
                </tr>
                {% for i in view %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.studioname}}</td>
                    <td>{{i.place}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.since}}</td>
                    <td>{{i.licence}}</td>
                    {% if i.logins.usertype == "pending" %}
                    <td>
                        <a class="btn btn-warning"href="/updatestudiotoaccept/{{i.logins.login_id}}">Accept</a>
                    </td>
                    <td>
                        <a class="btn btn-warning"href="/updatestudiotoreject/{{i.logins.login_id}}">Reject</a>
                    </td>
                    {% elif i.logins.usertype == "studio" %}
                    <td>
                        <a class="btn btn-warning"href="/updatestudiotoblock/{{i.logins.login_id}}">Block</a>
                    </td>
                    {% elif i.logins.usertype == "blocked" %}
                    <td>
                        <a class="btn btn-success"href="/updatestudiotounblock/{{i.logins.login_id}}">Unblock</a>
                    </td>
                    {% endif %}

                </tr>
                {%endfor%}
            </table>
      
        {%endblock%}