{% extends 'mainadmin.html' %}

{% block mainsec %}


<body >

    <center>
 
        <form class="moveup action="" method="post" style="color:aliceblue" enctype="multipart/form-data">
        <table class="table">
            <h2>Send Reply</h2>
            <br>
            <br>
            
            <tr>
                <th>Reply</th>
                <td><input type="text" name="reply"  class="form-control" required></td>
            </tr>
        
            <tr>
                <td colspan="2" align="center"><input class="btn btn-primary" type="submit" name="sumbit" value="ADD"></td>
            </tr>
        </table>
    </form>
</center>
    
 


    {% endblock %}