


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BookMyShoot</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/static/latest/assets/css/style-starter.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        BookMy<i class="fas fa-camera"></i>Shoot
                    </a>
                </h1>
                <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Go Back <span class="sr-only">(current)</span></a>
                        </li>
                       
                     
                    </ul>
                </div>
                <!-- search button -->
                <div class="search-right ml-lg-3">
                    <div class="search-container">
                        <form action="/search" method="get">
                            <input class="search expandright" id="searchright" type="search" name="q"
                                placeholder="Search">
                            <label class="button searchbutton" for="searchright"><i class="fas fa-search"></i></label>
                        </form>
                    </div>
                </div>
                <!-- //search button -->
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>





    <section style="margin: 50px 0px;padding-top: 100px;padding-left: 100px;">
          
        


<script>
  var check = function() {
    if (document.getElementById('password').value ==
      document.getElementById('confirm_password').value) {
      document.getElementById('message').style.color = 'green';
      document.getElementById('message').innerHTML = 'matching';
    } else {
      document.getElementById('message').style.color = 'red';
      document.getElementById('message').innerHTML = 'not matching';
    }
  }
</script>


   <!-- contact -->
<div class="mail py-5" id="contact">
  <div class="container pb-xl-5 pb-lg-3">
    <div class="price-sty position-relative mb-5">
      {% comment %} <h3 class="tittle text-center text-bl mb-2"></h3> {% endcomment %}
      <span class="text-style-bot font-weight-bold"></span>
    </div>
    <div class="row pt-4">
      <div class="col-lg-7 contctf_mail_grid_right">
        <h3 class="sub-w3ls-headf">Set New Password.</h3> 
        <form method="post">
                      {% csrf_token %}
          <div class="row">
            <div class="col-sm-6 form-group">
              <input type="text" id="password" onkeyup='check();'  class="form-control" name="passw" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </div>	
          </div>
                      <div class="row">
            <div class="col-sm-6 form-group">
              <input type="text" id="confirm_password"  onkeyup='check();' placeholder="Confirm Password" class="form-control" name="cpassw" required>
                              <span id='message'></span></span>
            </div>	
          </div>
                     
          
          <input type="submit" value="Confirm" style="background-color: brown;" class="btn mr-2">
        
        </form>
      </div>
    </div>
  </div>
</div>

         
    </section>




    <style>
        .containernew {
    position: relative;
    margin-top: 50px;
    width: 300px;
    height: 200px;
    border-radius: 3px;
    }
    
    .overlay {
        border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    }
    
    .containernew:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
    }
    
    img {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 0;
    }
    
    .title {
    position: absolute;
    width: 300px;
    left: 0;
    top: 60px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    }
    .title2 {
position: absolute;
width: 300px;
left: 0;
top: 100px;
font-weight: 700;
font-size: 30px;
text-align: center;
text-transform: uppercase;
color: white;
z-index: 1;
transition: top .5s ease;
}

    
    .containernew:hover .title {
    top: 30px;
    }
    .containernew:hover .title2 {
    opacity: 0;
    top: 30px;
    transition: all .8s;
    }
        
    .button {
    position: absolute;
    width: 300px;
    left:0;
    top: 100px;
    right: 200px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    }
    
    .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    }
    
    .containernew:hover .button {
    opacity: 1;
    }
    
    </style>
       





    
<!-- footer -->
<footer class="w3l-footer-29-main">
    <div class="footer-29-w3l py-5">
        <div class="container pt-md-5 pt-4">
            <div class="w3l-footer-text-style">
                <div class="footer-list-cont d-flex align-items-center justify-content-between mb-5">
                    <h6 class="foot-sub-title">Contact Us</h6>
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#twitter" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#instagram" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row footer-top-29 pt-lg-5 pt-sm-4">
                <div class="col-lg-3 col-sm-6">
                    <div class="address-grid">
                        <h5>Stream Ads Wedding Cinemas THAMARASSERY,CALICUT<br> KERALA</h5>
                        <h5 class="mt-sm-5 mt-4">Everyday: <span> 7 AM - 8 PM</span></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                    <div class="address-grid">
                        <h5>Phone</h5>
                        <h5 class="phone-number-text mt-2"><a href="tel:+1(21) 112 7368">+91 9544489966</a></h5>
                    </div>
                    <div class="address-grid mt-sm-5 mt-4">
                        <h5>E-mail</h5>
                        <h5 class="email-cont-text mt-1"> <a href="mailto:photogenic@mail.com"
                                class="mail">streamads999@gmail.com</a></h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 footer-list-menu pl-lg-0 mt-lg-0 mt-sm-5 mt-4">
                    <div class="address-grid">
                        <h5 class="mb-4 pb-lg-2">Support Links</h5>
                        <ul>
                            <li><a href="#privacy">Privacy Policy</a></li>
                            <li><a href="#terms"> Terms of Service</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="#support"> Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address-grid col-lg-4 col-md-6 col-sm-7 mt-lg-0 mt-sm-5 mt-4 w3l-footer-16-main">
                    <h5>Subscribe Here</h5>
                    <form action="#" class="subscribe d-flex mt-4 pt-lg-2 mb-4" method="post">
                        <input type="email" name="email" placeholder="Email Address" required="">
                        <button><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                    </form>
                    <p>Subscribe to our mailing list and get updates to your email inbox.</p>
                </div>
            </div>
            <!-- copyright -->
            <div class="w3l-copyright text-center mt-lg-5 mt-sm-4 pt-md-4 pt-3">
                <p class="copy-footer-29">©BookMyShoot <a
                        href="https://w3layouts.com/" target="_blank">
                        </a></p>
            </div>
        </div>
    </div>
  </footer>
  <!-- //footer -->
  
  <!-- Js scripts -->
  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };
  
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }
  
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- //move top -->
  
  <!-- common jquery plugin -->
  <script src="/static/latest/assets/js/jquery-3.3.1.min.js"></script>
  <!-- //common jquery plugin -->
  
  <!-- theme switch js (light and dark)-->
  <script src="/static/latest/assets/js/theme-change.js"></script>
  <!-- //theme switch js (light and dark)-->
  
  <!-- libhtbox -->
  <script src="/static/latest/assets/js/lightbox-plus-jquery.min.js"></script>
  <!-- libhtbox -->
  
  <!-- counter for stats -->
  <script src="/static/latest/assets/js/counter.js"></script>
  <!-- //counter for stats -->
  
  <!-- testimonial script -->
  <script>
    $(document).ready(function () {
  
        $('.client-single').on('click', function (event) {
            event.preventDefault();
  
            var active = $(this).hasClass('active');
  
            var parent = $(this).parents('.testi-wrap');
  
            if (!active) {
                var activeBlock = parent.find('.client-single.active');
  
                var currentPos = $(this).attr('data-position');
  
                var newPos = activeBlock.attr('data-position');
  
                activeBlock.removeClass('active').removeClass(newPos).addClass('inactive').addClass(
                    currentPos);
                activeBlock.attr('data-position', currentPos);
  
                $(this).addClass('active').removeClass('inactive').removeClass(currentPos).addClass(
                    newPos);
                $(this).attr('data-position', newPos);
  
            }
        });
  
    }(jQuery));
  </script>
  <!-- //testimonial script -->
  
  <!-- MENU-JS -->
  <script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();
  
        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });
  
    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
  </script>
  <!-- //MENU-JS -->
  
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
  </script>
  <!-- //disable body scroll which navbar is in active -->
  
  <!--bootstrap-->
  <script src="/static/latest/assets/js/bootstrap.min.js"></script>
  <!-- //bootstrap-->
  <!-- //Js scripts -->
  </body>
  
  </html>
  