{% load static %}
{% include 'userheader.html' %}
<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <center>
        <form action="" method="post" class="form-group moveup">
           
            <table  ><h2>EDIT PROFILE</h2>
                <br>
                {% for i in view3 %}
                
                <tr>
                    <th>First Name</th>
                    <td><input type="text" name="fname" value="{{i.fname}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td><input type="text" name="lname" value="{{i.lname}}" class="form-control"required  ></td>
                </tr>
                <tr>
                    <th>Place</th>
                    <td><input type="text" name="place" value="{{i.place}}" class="form-control"required ></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><input type="text" name="phone" value="{{i.phone}}" maxlength="10" class="form-control"required ></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="{{i.email}}" class="form-control"required ></td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input class="btn btn-primary" type="submit" name="submit" value="EDIT"></td>
                </tr>
                {% endfor %}
            </table>
        </form>
        </center>
         {% include 'footer.html' %}