{% load static %}
{% include 'userheader.html' %}

<br>
<br>
<br>
<br>
<br>
<center>
    <table class="table" style="color:black;box-shadow:0px 2px 20px lightgrey;width: 1200px;">
        <h2 align="center"><u>View Photographer</u></h2>
        <tr>
            <th>SL.NO</th>
            
            <th>Name</th>
            <th>Place</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {%for val in view %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{val.fname}} {{val.lname}}</td>
            <td>{{val.place}}</td>
            <td>{{val.phone}}</td>
            <td>{{val.email}}</td>
            
            <td>
                <a class="btn btn-success" href="/user_add_rating/{{val.photographer_id}}">Rate</a>
            </td>
        </tr>
        {%endfor%}
    </table>


{% include 'footer.html' %}
  



